@model List<Student>
<h1>List Of Student</h1>

@* @{
    Layout = "_CustomLayout";  
} *@

<table class="table table-bordered table-hover ">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col"> Name</th>
            <th scope="col"> Age</th>
            <th scope="col"> Division</th>
            <th scope="col"> Grade</th>
            <th scope="col"> Department</th>
            <th scope="col">Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@item.Age</td>
                <td>@item.Division</td>
                <td>@item.Grade</td>
                <td>@item.Department.Name</td>
                <td>
                    <a href="/Student/Details/@item.Id">Details</a>
                    <a href="/Student/Edit/@item.Id">Edit</a>
                    <a href="/Student/Delete/@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/Student/New" class="btn btn-primary">Add New Student</a>


<br />
<br />
<br />
<br />

<div style="display:flex;flex-wrap:wrap" class="gap-3" >
    
    @foreach (var item in Model)
    {
        <partial name="_StudentCardPartialView" model="@item" />
    }
</div>